extends ../layouts/layout_unauth
block main
  .jumbotron
    .container
      img.img-responsive.img-rounded.center-block(src="./assets/images/symphonyBody.png" style="width: 80%; height: 80%")
      h3.text-center The next generation of water quality and energy efficiency management.
      p.text-center For more information, call (888) 850-AQUA or email <a href="mailto:sales@aquanomix.com">sales@aquanomix.com</a>.
