.btn.primary{
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 2px;
  color: white;
  text-transform: capitalize;
  padding: 10px 20px;
  font-family: $light-font;
  font-size: 16px;
  margin: 15px;
  transition: .2s all;
  &:hover{
    background-color: $dark-blue;
    border: 1px solid $dark-blue;
  }
}


.btn.secondary{
  background-color: transparent;
  border: 1px solid $medium-gray;
  border-radius: 2px;
  color: $dark-gray;
  text-transform: capitalize;
  padding: 10px 20px;
  font-family: $light-font;
  font-size: 16px;
  margin: 15px;
  transition: .2s all;
  &:hover{
    color: $blue;
    border: 1px solid $blue;
  }
}
