/*
* Style guide main style sheet.  Should only include other files.
*
*/

// fonts
@font-face {
  font-family: 'helvetica-light';
  src: url("../assets/fonts/helvetica-light.ttf");
  src: url("../assets/fonts/helvetica-light.otf");
}
@font-face {
  font-family: 'helvetica-bold';
  src: url("../assets/fonts/helvetica-bold.ttf");
  src: url("../assets/fonts/helvetica-bold.otf");
}

// bootstrap
@import "bootstrap/bootstrap-theme.min";
@import "bootstrap/bootstrap.min";

// custom styles
@import "base";
@import "typography";
@import "nav";
@import "weather";
@import "dashboard";
@import "tables";
@import "buttons";
@import "footer";
@import "icomoon";
